extends base

block content
    section.main
        h2 Create a new recipe <a href="/createRecipe"> here.</a>
        h2 Update an exisiting recipe <a href="/"> here.</a>
        h2 Delete a recipe <a href="/"> here.</a>